<main class="page-home">

    <section class="info">
        <h2>Hi {{name}}!</h2>

        <p class="about">Info:</p>
        <p>{{name}}</p>
        <p>{{age}}</p>
        <p>{{gender}}</p>
        <p>{{email}}</p>
        <p><p class="about">About me:</p> <br> {{about}}</p>

        <a class="main-btn" href="update">Manage profile</a>
    </section>


    <section class="series">
        <h3>Your favorite shows:</h3>
        <section class="series-grid">
            {{#each shows}} {{! voor elke item in de shows database}}
            {{#each shows}}
            <section id="{{this}}"></section>
            {{/each}}
            {{/each}}
        </section>
        <a class="alt-btn" href="series">Change series</a>
    </section>

    <form action="/logout" method="post">
        <input type="submit" class="main-btn" value="Log out">
    </form>

</main>

{{>footer}}