<main class="pagina_home">

    <h2>Hi {{name}}!</h2>

    <section class="gegevens">
        <p>{{name}}</p>
        <p>{{age}}</p>
        <p>{{gender}}</p>
        <p>{{email}}</p>
        <p><p class="about">About me:</p> <br> {{about}}!</p>
    </section>

    <a href="update">Manage profile</a>


    <h3>Your favorite shows:</h3>
    <section class="seriesGrid">
        {{#each shows}} {{! voor elke item in de shows database}}
        {{#each shows}}
        <section id="{{this}}"></section>
        {{/each}}
        {{/each}}
    </section>


    <a href="series">Change series</a>

    <form action="/logout" method="post">
        <input type="submit" value="Log out">
    </form>

</main>

{{>footer}}