<main>
    <div class="match-container">
        <form action="/dislike" method="post">
                    <input type="text" value="{{name}}" name="dislike" hidden>
            <input type="submit" value="Dislike" class="like-choice_btn">
        </form>
        <section class="person">
            <ul>
                <li class="person-name">{{name}}</li>
                <li class="person-age">Age: {{age}}</li>
                <li class="person-about">{{about}}</li>
            </ul>
        </section>
        <form action="/like" method="post">
            <input type="text" value="{{name}}" name="like" hidden>
            <input type="submit" value="Like" class="like-choice_btn">
        </form>

    </div>
    <ul class="match-series">
        {{#each shows}} {{! voor elke item in de shows database}}
        <li>
            <section id="{{this}}"></section>
        </li>
        {{/each}}
    </ul>

</main>

{{>footer}}

<script src="/javascript/match.js"></script>