
<h1>series page </h1>


{{!-- {{#each item}} {{! voor elke item in de stijl database}} --}}
    <section class="series">
        <h1>{{name}}</h1>
        <img src="{{image_thumbnail_path}}" class="serie" alt="{{name}}">
    </section>
{{!-- {{/each}} {{! voor elke item in de stijl database}} --}}


<h1>series</h1>

{{#each series}} {{! voor elke item in de stijl database}}
    <section>
        <h1>{{serie.name}}</h1>
        <img src="{{serie.image_thumbnail_path}}" class="serie" alt="{{serie.name}}">
    </section>
{{/each}} {{! voor elke item in de stijl database}}
