

<form method="post" action="series" class="seriesGrid">

    {{#each tv_shows}} {{! voor elke item in de stijl database}}
        <section id="{{permalink}}" class="series">
            <img src="{{image_thumbnail_path}}">
            <input type="checkbox" name="{{permalink}}" id="{{permalink}}Box" class="checkbox">
            <label for="{{permalink}}" class="lazy"></label>
        </section>
    {{/each}}   


    <section class="button" class="notLoaded">    
        <button type="submit" value="Submit" id="submit">Select</button>
    </section> 

</form>



    

    
<script src="/javascript/series.js"></script>
