<main class="pagina_update">

    <h2>Manage profile</h2>

    <form action="/update" method="post">
        <fieldset>
            <label for='name'>Name</label>
            <input type="text" id="name" name="name" value="{{name}}">
        </fieldset>
        <fieldset>
            <label for='age'>Age</label>
            <input type="number" id="age" name="age" value="{{age}}">
        </fieldset>
        <fieldset>
            <label for='gender'>Gender</label>
            <input type="text" id="gender" name="gender" value="{{gender}}">
        </fieldset>
        <fieldset>
            <label for='email'>Email address</label>
            <input type="email" id="email" name="email" value="{{email}}">
        </fieldset>
        <fieldset>
            <label for='about'>About</label>
            <textarea rows="5" cols="40">{{about}}</textarea>
        </fieldset>

        <input type="submit" id='button' value="Save">
    </form>

</main>

{{>footer}}


